/*////////////////////////
    Table of Contents
    1.  Styles
////////////////////////*/


/* ------------------------------- 1. Styles -------------------------------- */
.profile_display {
    display: flex;
    justify-content: center;
}

.profile_container {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
}

.profile_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.profile_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile_form label,
.profile_form input,
.profile_form button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile_content h1 {
    font-size: 3rem;
    color: floralwhite;
    margin-bottom: 20px;
}

.profile_content a {
    color: white;
    text-decoration-line: underline;
}

.profile_content label,
.text {
    color: white;
}


.profile_button {
    width: 33.33%;
}

.profile_content button {
    padding: 5px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    border-color: transparent;
}

.error {
    color: #A22522;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
