/*////////////////////////
    Table of Contents
    1. Global Styles

////////////////////////*/


/* ------------------------------- 1. Styles -------------------------------- */

.error {
    color: #A22522;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.signup_background_container {
    background-color: #424742;
    height: 90vh;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.signup_bar {
    background-color: #a4a7a2;
    height: 20px;
}

.signup_form_container label {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    color: white;
}

.signup_form_container input {
    display: flex;
    justify-self: flex-end;
    padding: 3px;
    border-radius: 5px;
    background-color: #d9d9d9;

}

.form_button {
    display: flex;
    justify-content: flex-end;
    margin-left: 280px;
    padding: 8px;
    border-radius: 20px;
    border-color: transparent;
}

.signup_background_container h1 {
    color: white;
}

.sign_up_account p {
    display: flex;
    gap: 5px;
    color: white;
}

.sign_up_account a {
    color: white;
    text-decoration: underline;
}