/*////////////////////////
    Table of Contents
    1.  Styles
////////////////////////*/


/* ------------------------------- 1.  Styles -------------------------------- */

.day_calender_container {
    margin-left: 10px;
    display: flex;
    height: 200px;
    min-width: 200px;
    max-width: 200px;
    border: 1px solid black;
    border-radius: 25px;
    flex-basis: 20px;
    margin-top: 10px;
    background-color: white;
}

.calender {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    background-color: #424742;
}

.calender_button {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.day {
    margin: 5px;
}

.events-container {
    display: flex;
    overflow-y: auto;
    width: 250px;
    scroll-behavior: smooth;
}

.events-container img {
    margin-top: 25px;
    width: 75px;
    height: 125px;
    margin-right: 5px;
}

.month_year {
    color: white;
}

h2 {
    color: white;
}

.container_year_month {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_year_month button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.today p {
    font-weight: bold;
}
