/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Area 1

////////////////////////*/


/* ------------------------------- 1. Global Styles -------------------------------- */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: black;
    font-size: 18px;
    display: flex;
}

.active {
    border-bottom: 2px solid black;
}


/* --------------- 2. Area 1 ------------------------- */
.NavBar {
    background: #D9D9D9;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
}

.NavList {
    display: flex;
    width: 99%;
    justify-content: flex-end;

}

.NavTheme {
    display: flex;
    gap: 100px;
    justify-content: flex-end;
    align-items: center;
}

.NavUser {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    gap: 10px;
    align-items: center;
    margin-right: 10px;


}

nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 20vw;
    width: 100%;
}

.nav_register {
    background-color: #696969;
    padding: 8px;
}